| Hey! Thanks for using I Dig Doge!
| 
| So it looks like you want to withdraw your coins. It's pretty easy! Here's what you've gotta do:
| 
| 1. Set up a Dogecoin wallet. You can set up an online wallet, or download the Dogecoin client. You can find more information at http://www.dogecoin.com.
| 2. Copy your wallet's address.
| 3. Click the link below, paste your address into the box, and press Withdraw. You're done!
| 
| Hopefully you've enjoyed using I Dig Doge, and will continue to use it in the future! Because it IS pretty awesome. :)
| 
| http://www.idigdoge.com/withdraw/#{withdraw}
| 
| Note: This link will only work for 24 hours. If you miss it, just try to withdraw again from the home page.
