p Problems? Ideas? Email <a href="mailto:idigdoge@gmail.com">idigdoge@gmail.com</a>.
p Donate to <a href="dogecoin:DM7BaRfSxUhvz8eJ9dHeChzEifJaP5poFL">DM7BaRfSxUhvz8eJ9dHeChzEifJaP5poFL</a>.
p Code hosted on <a href="https://github.com/7THStage/idigdoge" target="_blank">GitHub</a>.
