doctype html
// I see you like finding out how things work. Want a fun project to work on? How about this one! I'm sure this thing could be made much better. Check it out at https://github.com/7THStage/idigdoge 
html
	head
		meta(charset='UTF-8')
		
		if (title)
			title #{title} - I Dig Doge
		else
			title I Dig Doge
		
		link(rel='stylesheet', type='text/css', href='/public/style.css?#{public_version}')
		
		script(type='text/javascript').
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', '#{analytics}', 'auto');
			ga('send', 'pageview');
	
	body
		#header
			h1 I Dig Doge
			h2 The easiest way to mine!
		
		block content
		
		#footer
			p: a(href='mailto:idigdoge@gmail.com') Comments? Problems? Suggestions?
			p Please send any donations to DM7BaRfSxUhvz8eJ9dHeChzEifJaP5poFL. They help keep this thing running!
