doctype html
html
	head
		title Withdraw - Mint Harvest
		include head
	body
		#intro.no-nav.page.grey: .inner
			h2 Cryptocurrency For Everyone
			h1.color: a(href='/') I Dig Mint
		#withdraw.page.color: .inner
			h1 Withdraw
			
			if (withdraw && !message)
				p You're almost done! All you have to do is enter your Mintcoin address in the box below, then press <em>Withdraw</em>.
			if (message)
				p #{message}
			
			if (withdraw)
				form(action='/withdraw/#{withdraw}', method='post')
					input(type='hidden', name='withdraw', value='#{withdraw}')
					.box: input(type='text', name='address')
					.box: input(type='submit', value='Withdraw')
		#footer.page.white: .inner
			include footer
